body {
    background-color: lightblue;
}

font {
    size: 3;
    text-align: center;
    font-family: "supermarket", "BSRU BANSOMDEJ";
}

.fonth {
    size: 5;
}

table {
    border-collapse: collapse;
    width: 80%;
}

.table1 {
    border: none;
    background-color: white;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}

.button {
    display: inline-block;
    padding: 60px 40px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}